{% extends 'base.html.twig' %}

{% block title %}Agence lorem ipsum

{% endblock %}

{% block body %}
	<div class="jumbotron text-center">

		<h1>
			Agence lorem ipsum
		</h1>
		<p>
			vifdjvfdjvodfjviodj ohvjoidfhviodfhiuhdfyug yuygudftystdyftyftyfy  xs ds  s s s f dsf df ds fd sg df gfdf dsfs  qdqs dfq fd vfd vdfvdf vd
		</p>
	</div>
{% endblock %}
